

body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: url('images/topo.png');
  background-repeat: no-repeat center center fixed;
  background-size: 100%;
}
